html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: url(img/backboard.jpg);
  background-size: cover;
  height: 1200px;
  position: relative;
}

input {
  font-size: 13px;
}

/*文字を小さく*/
.small_text {
  font-size: 28px;
}

/* 文字を青色 */
.blue_color {
  color: #203864;
}

/* 文字を赤色 */
.red_color {
  color: #ff0000;
}

/* 文字を黄色 */
.yellow_color {
  color: #ffbf00;
}

/* グレー背景 */
/* .tlt_back {
  background: #e3e3e3;
  border-radius: 10px;
  padding: 3px;
} */

/* 全体 */
.all_body {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  min-width: 1100px;
  overflow: hidden;
}

/* ヘッドタイトル */
.h_title {
  text-align: center;
  margin: 20px auto 10px;
}

.h_title h1 img {
  height: auto;
  width: 42%;
}

form {
  font-size: 18px;
  margin: 0;
}

/*各テーブルのタイトル*/
.table_tlt {
  font-size: 24px;
  color: #fff;
  background: #2f8ac2;
  padding: 5px;
}

/*各テーブルのボタン*/
.table_btn {
  text-align: right;
}

/* 全テーブルの親div */
.t_grop {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

/* 年間目標と月間目標とお知らせの親div */
.three_grop {
  display: flex;
  width: 100%;
  height: auto;
}

/*ボタン*/
.table_btn {
  height: 30px;
}

/* 年間目標と月間目標の親div */
.two_grop {
  width: 100%;
  margin-right: 1%;
}

/*** 年間目標 ***/
.yearly_table {
  width: 100%;
  height: auto;
  margin: 0 auto 25px 0;
}

/* テキスト */
.yearly_table textarea {
  resize: none;
  width: 100%;
  height: 115px;
  font-size: 18pt;
  display: block;
}

/*** 月間目標 ***/
.monthly_table {
  width: 100%;
  height: auto;
  margin: 0 auto 25px 0;
}

.monthly_table thead tr:nth-child(2) th {
  width: calc(100%/3);
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  font-family: "UD デジタル 教科書体 NK-B";
  background: #e5e5e5;
}

/* テキスト */
.monthly_table textarea {
  resize: none;
  /* width: 95%; */
  width: 100%;
  height: 166px;
  font-size: 16pt;
  display: block;
}

/*** お知らせ ***/
.news_table {
  width: 60%;
  height: auto;
  margin: 0 auto 25px 0;
}

/* テキスト */
.news_table textarea {
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 16pt;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

/*** 無災害記録 ***/
.days_table {
  width: 100%;
  height: auto;
  margin: 0 auto 25px 0;
  text-align: center;
}

.days_table thead tr:nth-child(2) th {
  font-size: 20px;
  text-align: center;
  background: #e5e5e5;
  padding: 5px;
}

/* テキスト */
.days_table textarea {
  resize: none;
  width: 100%;
  height: 102px;
  font-size: 16pt;
  display: block;
}

/**共通セル**/
/* 災害項目 */
.disaster_item {
  width: 15%;
  text-align: center;
  font-size: 34px;
  font-family: "UD デジタル 教科書体 NK-B";
  background: #fff;
}

.disaster_item span {
  padding: 7px;
}

/* 起算日 */
.btncol {
  width: 25%;
  background: #fff;
  font-size: 24px;
  position: relative;
}

/*カレンダー*/
.calendar_box {
  font-size: 24px;
  border: none;
  color: #000;
}

/*登録ボタン*/
.register_btn {
  position: absolute;
  bottom: 3px;
  right: 3px;
}

/* 内容 */
.str_day {
  width: 35%;
  min-width: 280px;
  font-size: 18px;
  text-align: left;
  background: #fff;
}

/* 連続日数 */
.continue_days {
  width: 25%;
  max-width: 190px;
  background: #fff;
}

.continue_days input {
  border: 0;
  background: #fff;
  padding: 5px;
}

.continue_days p {
  font-size: 34px;
  display: inline;
}

.days_table tbody tr:nth-child(even) td input {
  margin-bottom: 10px;
}

/* テーブルのテキスト(日数表示) */
input[type="text"][name="continue_days1"] {
  text-align: right;
  height: 67px;
  width: 190px;
  font-size: 54px;
  font-weight: bold;
  color: #7e94f7;
  background: #fff;
}

input[type="text"][name="continue_days2"] {
  text-align: right;
  height: 67px;
  width: 190px;
  font-size: 54px;
  font-weight: bold;
  color: #e23f3f;
  background: #fff;
}

input[type="text"][name="continue_days3"] {
  text-align: right;
  height: 67px;
  width: 190px;
  font-size: 54px;
  font-weight: bold;
  color: #b8be59;
  background: #fff;
}

/***下記の注意点***/
/* ボディータイトル */
.b_title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* テキストエリアの親div */
textarea {
  resize: none;
  width: 600px;
  height: 200px;
  font-size: 20pt;
}

/***枠***/
table {
  border: #000;
}

textarea {
  border: none;
  padding: 3px;
}

/* 年間目標 */
.yearly_table tbody tr:nth-child(2) td {
  border: none;
}

/* 月間目標 */
.monthly_table tbody tr:nth-child(2) td {
  border: none;
}

/* おしらせ */
.news_table tbody tr:nth-child(2) td {
  border: none;
}

/******ロゴ*******/
.logo_image {
  position: absolute;
  top: 0;
  right: 0;
  text-align: end;
  margin: 10px 10px 0 0;
  padding: 5px;
  background: rgb(229, 229, 229, .5);
}

.logo_image img:nth-child(1) {
  width: 80px;
}

.logo_image img:nth-child(2) {
  width: 270px;
}